<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="logo">
    <img id="cohelm-logo" src="{{ url_for('static', filename='cohelm.svg') }}" alt="CoHelm" class="cohelm-logo">
    </div>
    <title>Create Prior Auth Screen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="dropzone-container">
        <h2>Create Prior Authorization</h2>
        <div class="heading3">Medical Records</div>
        <form action="/submit-pdfs" method="post" enctype="multipart/form-data">
            <div id="dropZoneMedicalRecords" class="drop-zone">
                <p>Drag and Drop Medical Records PDF Here</p>
                <div class="logo">       
                <img id="upload" src="{{ url_for('static', filename='upload.svg') }}" alt="upload" class="upload">
                </div>

            <input type="file" name="medicalRecords" id="medicalRecordsInput" accept="application/pdf" hidden>
        </div>
        <div class="heading3">Guidelines</div>
        <div id="dropZoneUploadGuidelines" class="drop-zone">
            <p>Drag and Drop Upload Guidelines PDF Here</p>
            <div class="logo">       
            <img id="upload" src="{{ url_for('static', filename='upload.svg') }}" alt="upload" class="upload">
            </div>
            <input type="file" name="uploadGuidelines" id="uploadGuidelinesInput" accept="application/pdf" hidden>
        </div>
        <button type="submit" id="submitBtn">Submit PDFs for Prior Authorization</button>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
